csv/big-blue-bus-routes.csv
csv/police-calls-for-service.csv
csv/santa-monica-parking-lot-counts.csv
json/big-blue-bus-routes.json
json/police-calls-for-service.json
json/santa-monica-parking-lot-counts.json
